.imageNormal {
  height: 125px;
}

.brandName {
  font-size: 14px;
}

.element--home__slider--celumania-images {
  display       : flex;
  flex-direction: row;
  position      : relative;
  margin        : 0 15px 5px;
  min-height    : 250px;
  height        : auto;
}

.container--home__slider--celumania-images {
  max-width: none !important;
}

.element--home__slider--celumania-images :global(.vtex-product-summary-2-x-imageContainer) {
  position       : relative;
  display        : flex;
  align-items    : center;
  justify-content: center;
  height         : 100%;
  border-right   : 2px solid #ededed;
  min-height     : 235px;
  width          : 132px !important;
}

/*tambien-te-puede-interesar-images*/
.element--home__slider--ultimos-productos-navegados-images,
.element--home__slider--tambien-te-puede-interesar-images {
  display       : flex;
  flex-direction: row;
  position      : relative;
  margin        : 0 15px 5px;
  min-height    : 250px;
  height        : auto;
}

.container--home__slider--ultimos-productos-navegados-images,
.container--home__slider--tambien-te-puede-interesar-images {
  max-width       : none !important;
  min-width       : 315px;
  width           : 90%;
  display         : flex;
  flex-direction  : row;
  position        : relative;
  background-color: #fff;
  border          : 1px solid rgba(46, 46, 46, 0.22);
  border-radius   : 12px;
  margin-right    : 15px;
  opacity         : 1;
  box-shadow      : 0 1px 6px rgb(46 46 46 / 22%);
  touch-action    : manipulation;
  min-height      : 250px;
  height          : auto;
  margin-top      : 5px;
  margin-bottom   : 5px;
  margin-left     : 2px;
}

.element--home__slider--ultimos-productos-navegados-images :global(.vtex-product-summary-2-x-imageContainer),
.element--home__slider--tambien-te-puede-interesar-images :global(.vtex-product-summary-2-x-imageContainer) {
  position       : relative;
  display        : flex;
  align-items    : center;
  justify-content: center;
  height         : 100%;
  border-right   : 2px solid #ededed;
  min-height     : 235px;
  width          : 132px !important;
}