.imageElementLink--home__top--gif {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.imageElement--home__top--gif {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.imageElement--list--item-categories{
  width: 100px;
}
.imageElement--home__slider--mobile{
  /* height: 100px; */
  /* width: 173px; */
  min-width: 100%;
  min-height: 100px;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  /* height: 100px; */
  display: flex;
  margin: 0 10px 10px;
  padding: 10px 0;
}

.imageElementLink--home__tecnologia--image {
  max-width: 1280px;
  /* max-width: 90%; */
  margin: 0;
  padding: 0;
}

.imageElementLink--home__tecnologia--image {
  max-width: 1280px;
  /* max-width: 90%; */
  margin: 0;
  padding: 0;
}

.imageElement--home__tecnologia--image-1 {
  width: 728px;
}

.imageElement--home__tecnologia--image-2 {
  width: 350px;
}

.imageElement--home__tecnologia--image-2-1 {
  width: 303px;
}

.imageElement--home__tecnologia--image-2-2 {
  width: 631px;
}

.logoContainer {
  top: 0;
  width: 10px;
}

.notificationBarContainer {
  display: flex;
  background-color: rgb(54, 168, 107);
  /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
  font-weight: 900;
  color: rgb(255, 222, 55);
  height: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}

.productNameContainer--product__name,
.productBrandContainer--product__brand {
    margin: auto;
    max-width: 97%;
    text-transform: capitalize;
}

.flexCol--product__breadcrumb {
  margin: auto;
  max-width: 97%;
}