.paragraph--home__section--electrodomesticos-para-tu-hogar--text,
.paragraph--home__section--todo-para-tu-familia--text,
.paragraph--home__section--todo-para-tu-hogar--text,
.paragraph--home__section--moda-y-accesorios--text,
.paragraph--home__section--lo-mejor-en-tecnologia--text{
font-size: 24;
color: rgb(119, 119, 119);
}

.container--home__section--electrodomesticos-para-tu-hogar--text,
.container--home__section--moda-y-accesorios--text,
.container--home__section--todo-para-tu-hogar--text,
.container--home__section--todo-para-tu-familia--text,
.container--home__section--lo-mejor-en-tecnologia--text{
 margin-top: 0;
}

.heading--categorias__container--title{
    color:#000000;
    font-size: 20px;
    font-family: Poppins,Helvetica,sans-serif!important;
    font-weight: 600;
}

.paragraph--categorias__container--text{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins,Helvetica,sans-serif!important;
}

.paragraph--disclosure__links {
    color: #414141;
    font-size: 13px;
    margin: 5px 0;
    text-decoration: none;
  }
  
  .paragraph--disclosure__links:hover {
    text-decoration: underline;
  }