.styledLink {
  color          : #fff;
  font-size      : 12px;
  text-decoration: none;
}

.styledLinkContainer,
.styledLinkContent {
  display        : flex;
  align-items    : center;
  width          : 144px;
  justify-content: center;
  height         : 42px;
}

.menuContainer {
  width      : 144px;
  margin-top : 5px;
  margin-left: 0;
  height     : 42px;
}

.menuContainerNav--menu-tabs {
  position: absolute;
  left    : 0;
  width   : 100%;
}

.menuItem--isOpen {
  /* height: 42px; */
  display           : flex;
  align-items       : center;
  margin            : 0 15px;
  border-radius     : 10px 10px 0 0;
  /* color          : #fff; */
  background        : #000;
  /* font-size      : 12px; */
  width             : 144px;
  justify-content   : end;
  /* text-decoration: none; */
  flex-direction    : column;
}

.menuItem--isClosed {
  /* height: 42px; */
  display           : flex;
  align-items       : center;
  margin            : 0 15px;
  border-radius     : 10px 10px 0 0;
  /* color          : #fff; */
  background        : #999;
  /* font-size      : 12px; */
  width             : 144px;
  justify-content   : end;
  /* text-decoration: none; */
  flex-direction    : column;
}

.menuItem--isOpen:hover,
.menuItem--isClosed:hover {
  color     : #fff;
  background: #676767;
}

@media (max-width: 767px) {
  .menuItem--isOpen {
    margin: 0 5px;
    width : 100px;

  }

  .menuItem--isClosed {
    margin: 0 5px;
    width : 100px;
  }
}