/* .element--home__slider--celumania-images{ */
    /* background-color: brown; */
    /* height: 400px; */
    /* width: 100%;
    position: relative; */
/* } */

.imageNormal{
    height: 125px;
}

.brandName{
    font-size: 14px;
}