.buttonText::after {
  content    : url(https://nilsonmax--itgloberspartnercl.myvtex.com/arquivos/carrito-blanco.png) !important;
  margin-left: 5px;
}

.buttonText {
  align-items    : center;
  display        : flex;
  font-size      : 14px;
  font-weight    : 400;
  justify-content: center;
  text-transform : initial;
  letter-spacing : var(--unnamed-character-spacing-0);
  text-align     : left;
}