.flexRowContent--home__section--one,
.flexRowContent--home__section,
.flexRowContent--home__section--images,
.flexRowContent--flexRowContent--home__section--tecnologia,
.flexRowContent--home__seccion--categorias,
.flexRowContent--home__categories {
  max-width: 1280px;
  margin   : 0 auto;
}

@media screen and (max-width: 768px) {

  .flexRowContent--container__list--two,
  .flexRowContent--home__seccion--categorias {
    display        : flex;
    justify-content: space-between;
  }
}

.flexRowContent--home__section--anuncio-images {
  margin       : 0 auto;
  max-width    : 1280px;
  margin-top   : 10px;
  margin-bottom: 10px;
}



.flexRowContent--home__section--moda-y-accesorios-images {
  margin       : 0 auto;
  max-width    : 1280px;
  margin-bottom: 10px;
}

.flexRowContent--home__section--tecnologia-images {
  margin       : 0 auto;
  max-width    : 1280px;
  margin-bottom: 10px;
}

.flexCol--section__one-image {
  margin     : 0;
  margin-left: 2px;
}

.flexColChild--home__section--las-mejores-ofertas--text__ver-todo,
.flexColChild--home__section--moda-y-accesorios--text__ver-todo,
.flexColChild--home__section--todo-para-tu-hogar--text__ver-todo,
.flexColChild--home__section--todo-para-tu-familia--text__ver-todo,
.flexColChild--home__section--electrodomesticos-para-tu-hogar--text__ver-todo,
.flexColChild--home__section--lo-mejor-en-tecnologia--text__ver-todo {
  display        : flex;
  justify-content: end;
  align-items    : center;
  margin-right   : 13px;
}

.flexColChild--list__one--item,
.flexColChild--list__two--item {
  display        : flex;
  align-items    : center;
  justify-content: center;
  cursor         : pointer;
}

.flexRow--home__slider--celumania-parte-dos {
  display        : flex;
  justify-content: center;
  align-items    : flex-end;
  margin-left    : 3px;
}

.flexRow--home__slider--celumania-parte-dos :global(.vtex-button) {
  position     : relative;
  height       : 47px;
  outline      : none;
  border-radius: 12px;
  width        : 160px;
}

@media screen and (max-width: 768px) {
  .flexRow--home__slider--celumania-parte-dos :global(.vtex-button) {
    position     : relative;
    height       : 47px;
    outline      : none;
    border-radius: 12px;
    width        : 136px;
    margin-left  : 5px;
  }
}

.flexRow--background--prueba {
  background-color: #eaebed;
}