.link--home__section--lo-mejor-en-tecnologia--text__ver-todo {
  color: rgb(26, 148, 190);
  border-bottom: 2px solid;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: none;
}
