.paginationDotsContainer--home__slider--mobile{
  transform: translateY(14px);
}
.paginationDotsContainer--home__slider {
  transform: translateY(-8px);
}

.sliderTrack{
  display: flex;
  justify-content:space-between;
}
.slide--home__slider--celumania {
  min-width: 315px;
  width: 90%;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(46, 46, 46, 0.22);
  border-radius: 12px;
  margin-right: 15px;
  opacity: 1;
  box-shadow: 0 1px 6px rgb(46 46 46 / 22%);
  touch-action: manipulation;
  min-height: 250px;
  height: auto;
  margin-top:5px;
  margin-bottom:5px;
  margin-left: 2px;
}

.sliderLayoutContainer--home__slider--celumania,
.sliderLayoutContainer--home__seccion--todo-para-tu-hogar,
.sliderLayoutContainer--home__seccion--moda-y-accesorios {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 20px;
}
.sliderLayoutContainer--home__slider--mobile {
  /* max-width: 1280px; */
  margin: 0 auto;
  margin-top: 20px;
}

/*///////////// pagination moda-y-accesorios ////////////*/
.paginationDot--home__seccion--moda-y-accesorios--isActive,
.paginationDot--isActive {
  background-color: rgb(0, 0, 0);
}

.paginationDot--home__seccion--moda-y-accesorios {
  border: none;
  border-radius: 50%;
  height: 0.1rem !important;
  width: 0.1rem !important;
  margin-right: 7px;
  outline: none;
}

/*/////////////////////////////////////////////////*/

.sliderLeftArrow--home__seccion--todo-para-tu-hogar,
.sliderLeftArrow--home__seccion--moda-y-accesorios {
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: hsla(0, 0%, 89.8%, 0.75) !important;
  display: flex;
  opacity: 0.5;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  margin-left: 20px;
}

.sliderLeftArrow--home__seccion--todo-para-tu-hogar:hover,
.sliderLeftArrow--home__seccion--moda-y-accesorios:hover {
  z-index: 1;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: rgba(218, 216, 216, 0.6) !important;
  display: flex;
  opacity: 0.7;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  margin-left: 20px;
}
.sliderRightArrow--home__seccion--todo-para-tu-hogar,
.sliderRightArrow--home__seccion--moda-y-accesorios {
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: hsla(0, 0%, 89.8%, 0.75) !important;
  display: flex;
  opacity: 0.5;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  margin-right: 20px;
}
.sliderRightArrow--home__seccion--todo-para-tu-hogar:hover,
.sliderRightArrow--home__seccion--moda-y-accesorios:hover {
  z-index: 1;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: rgba(218, 216, 216, 0.6) !important;
  display: flex;
  opacity: 0.7;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  margin-right: 20px;
}

/*///////////// pagination home slider ////////////*/
.paginationDot--home__slider--isActive {
  background-color: rgb(139, 135, 135);
}

.paginationDot--home__slider--mobile,
.paginationDot--home__slider {
  width: 8px !important;
  height: 8px !important;
}

/*////////////// home__slider /////////////*/
.sliderLeftArrow--home__slider {
  /* z-index: 1; */
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: hsla(0, 0%, 89.8%, 0.75) !important;
  display: flex;
  opacity: 0.5;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  margin-left: 20px;
}
.sliderLeftArrow--home__slider--mobile {
  /* z-index: 1; */
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: hsla(0, 0%, 89.8%, 0.75) !important;
  display: flex;
  opacity: 0.5;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  /* margin-left: 20px; */
}
.sliderLeftArrow--home__slider:hover {
  z-index: 1;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: rgba(255, 255, 255) !important;
  display: flex;
  opacity: 0.7;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  margin-left: 20px;
}
.sliderRightArrow--home__slider {
  /* z-index: 1; */
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: hsla(0, 0%, 89.8%, 0.75) !important;
  display: flex;
  opacity: 0.5;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  margin-right: 20px;
}
.sliderRightArrow--home__slider--mobile {
  /* z-index: 1; */
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: hsla(0, 0%, 89.8%, 0.75) !important;
  display: flex;
  opacity: 0.5;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  /* margin-right: 20px; */
}
.sliderRightArrow--home__slider:hover {
  z-index: 1;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: rgba(255, 255, 255) !important;
  display: flex;
  opacity: 0.7;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  margin-right: 20px;
}

/*////////////// celumania /////////////*/
.sliderLeftArrow--home__slider--celumania {
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: hsla(0, 0%, 89.8%, 0.75) !important;
  display: flex;
  opacity: 0.5;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  margin-left: 20px;
}
.sliderLeftArrow--home__slider--celumania:hover {
  z-index: 1;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: rgba(rgba(218, 216, 216, 0.6)) !important;
  display: flex;
  opacity: 0.7;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  margin-left: 20px;
}
.sliderRightArrow--home__slider--celumania {
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: hsla(0, 0%, 89.8%, 0.75) !important;
  display: flex;
  opacity: 0.5;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  margin-right: 20px;
}
.sliderRightArrow--home__slider--celumania:hover {
  z-index: 1;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 12px 14px;
  background-color: rgba(218, 216, 216, 0.6) !important;
  display: flex;
  opacity: 0.7;
  transition: all 0.2s ease;
  border-radius: 50px 50px;
  margin-right: 20px;
}